<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.bubble.css" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="root">
        <div class="left-navigation">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">
            <div class="main-wrapper">
                <div class="container">
                    <header>
                        <h1 class="header-title">
                            Edit Post
                        </h1>
                    </header>
                </div>

                <div class="container">
                    <div class="editor">
                        <input id="title" type="text" placeholder="title">
                        <select id="tag">
                            <option value="" disabled selected>select tag</option>
                            <option value="algorithm">Algorithm</option>
                            <option value="cs">CS</option>
                            <option value="htmlcss">HTML/CSS</option>
                            <option value="javascript">Javascript</option>
                            <option value="nodejs">NodeJS</option>
                            <option value="react">React</option>
                        </select>
                        <div id="editor" style="height: 220px"></div>
                        <button id="submit-btn">제출</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/edit.js"></script>
    <script type="module" src="/js/nav.js"></script>
</body>

</html>