<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="root">
        <div class="left-navigation">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">
            <div class="main-wrapper">
                <div class="container">
                    <header class="header-content">
                        <h1 class="header-title">
                            index
                        </h1>
                    </header>
                </div>

                <div class="container">
                    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="VwJmYMO" data-pen-title="test codepen" data-user="-WooLegend" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                        <span>See the Pen <a href="https://codepen.io/-WooLegend/pen/VwJmYMO">
                        test codepen</a> by 우재현 (WooLegend) (<a href="https://codepen.io/-WooLegend">@-WooLegend</a>)
                        on <a href="https://codepen.io">CodePen</a>.</span>
                      </p>
                      <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>                    
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/nav.js"></script>
</body>

</html>