<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="root">
        <div class="left-navigation">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">
            <div class="main-wrapper">
                <div class="container">
                    <header>
                        <h1 class="header-title">
                            index
                        </h1>
                    </header>
                </div>

                <div class="container">
                    
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/nav.js"></script>
</body>

</html>