<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar"><%- include('nav') %></nav>
    <div class="modal"><%- include('login') %></div>
    <main class="container">
        <!-- <%- include('weather') %> -->

        <%- include('write-btn') %>
    </main>

    <script type="module" src="/js/nav.js"></script>
</body>

</html>