<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <%- include('nav') %>
    <main class="container">
        <header class="header">
            <div class="header-title"></div>
        </header>

        <div class="card-container"></div>

    </main>

    <script type="module" src="/js/list.js"></script>
    <script type="module" src="/js/nav.js"></script>
</body>

</html>