<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="root">
        <div class="left-navigaion">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">

            <div class="main-wrapper">
                <div class="container">
                    <header>
                        <h1 class="header-title"></h1>
                    </header>
                </div>
                <div class="container">
                    <p>필터</p>
                    <p>검색창</p>
                    <p>태그</p>
                </div>
                <div class="container">
                    <div class="card-container"></div>
                </div>
            </div>

        </div>
    </div>



    <script type="module" src="/js/list.js"></script>
    <script type="module" src="/js/nav.js"></script>
</body>

</html>