<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="login-background">

        <div class="login-container">
            <h2>Welcome Back!</h2>

            <button class="social-login-btn">
                <img src="/assets/google-logo.png" alt="">
                <p>Signed With Google</p>
            </button>

            <div class="black-line">
                <div></div>
                <p>or</p>
                <div></div>
            </div>

            <form class="login-form" action="/login" method="post">
                <input name="username" type="text" placeholder="username" autocomplete="current-password">
                <input name="password" type="password" placeholder="password" autocomplete="current-password">
                <button type="submit">Sign In</button>
            </form>

        </div>

    </div>

    <!-- <script type="module" src="/js/login.js"></script> -->
</body>

</html>