<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/472da87bcd.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/manage.css">
</head>

<body>
    <div class="root">

        <div class="left-navigation">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">
            <div class="main-wrapper">

                <!-- header -->
                <div class="container">
                    <header class="header-content">
                        <div class="header-title">
                            <h1>
                                Post Management
                            </h1>
                        </div>
                    </header>
                </div>

                <div class="container">
                    <div class="categori-manage-wrapper">

                        <h1>카테고리 관리</h1>

                        <div class="categori-input-wrapper">
                            <form class="categori-input-form">
                                <div>
                                    <input type="radio" id="categori-radio-select" name="categori-input" value="select"
                                        checked>
                                    <label for="categori-radio-select">선택</label>
                                    <select name="categori">
                                        <option value="" selected disabled>
                                            ---카테고리를 선택하렴---
                                        </option>
                                    </select>
                                </div>

                                <div>
                                    <input type="radio" id="categori-radio-text" name="categori-input" value="text">
                                    <label for="categori-radio-text">입력</label>
                                    <input name="categori" type="text" placeholder="카테고리를 입력하렴">
                                </div>

                                <button type="submit">불러오기</button>
                            </form>
                        </div>

                        <div class="tag-input-wrapper">
                            <form class="tag-input-form">
                                <span>태그</span>
                                <input class="tag" type="text" placeholder="태그를 입력하렴">

                                <span>아이콘</span>
                                <input class="icon" type="text" placeholder="아이콘을 입력하렴">
                                <button type="submit">추가</button>
                            </form>

                            <div class="tag-preview-list"></div>
                            <button>정렬</button>
                            <button>새로고침</button>
                        </div>

                        <button>저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/js/nav.js"></script>
    <script type="module" src="/js/manage/manage_post.js"></script>
</body>

</html>