<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="root">

        <div class="modal">
            <div class="modal-main">
                <div class="modal-content"></div>
                <div class="modal-item">
                    <button class="modal-btn positive-btn">예</button>
                    <button class="modal-btn negative-btn">아니오</button>
                </div>
            </div>
        </div>

        <div class="left-navigation">
            <%- include('nav') %>
        </div>

        <div class="page-wrapper">
            <div class="main-wrapper">

                <!-- header -->
                <div class="container">
                    <header class="header-content">
                        <div class="header-title">
                            <h1>
                                <%= user.username %>
                            </h1>
                        </div>
                    </header>
                </div>

                <!-- top navigation -->
                <div class="container">
                    <div class="top-navigation">
                        <div style="flex-grow : 1"></div>
                        <div class="user-option">
                            <button class="button-tag-btn">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                        </div>
                        <div class="user-logout">
                            <a class="a-tag-btn" href="/logout">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="/js/nav.js"></script>
    <script type="module" src="/js/user.js"></script>
</body>

</html>