* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --w-1: 30rem;
    --w-2: 43rem;
    --w-3: 56rem;
    --w-4: 69rem;
    --w-5: 82rem;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

footer {
    height: 20rem;
}

.root {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

.page-wrapper {
    width: 100%;
    padding-left: 5rem;
    transition: 200ms ease;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--w-1);
    margin: auto;
    margin-bottom: 60px;
    background-color: white;
    transition: 200ms;
}

.container {
    position: relative;
    width: 100%;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    opacity: 0;

    transition: 200ms;
}

.modal-main {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    border: 3px solid #ccc;
    border-radius: 1rem;
}

.modal-content {
    height: 80%;
}

.modal-item {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20%;
    padding: 8px;
    border-top: 3px solid #ccc;
}

.modal-btn {
    width: 72px;
    height: 36px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24;
    transition: 200ms;
    margin-right: 8px;
}

.positive-btn {
    background-color: #198754;
    color: white;
}

.positive-btn:hover {
    background-color: #157347;
}

.negative-btn {
    background-color: #6C757D;
    color: white;
}

.negative-btn:hover {
    background-color: #5C636A;
}

.header-content {
    border-bottom: 2px solid #eee;
    padding: 1rem;
}

.header-title {
    text-align: center;
    font-weight: bold;
}

.header-writer {
    text-align: center;
}

.top-navigation {
    display: flex;
    padding: 1rem;
    align-items: end;
}

.post-active {
    flex-grow: 1;
}

.fa-unlock,
.fa-lock {
    transition: 200ms;
}

.post-edit,
.post-delete,
.user-option,
.user-logout {
    margin-left: 0.5rem;
}

.active-btn {
    width: 2.7rem;
    padding: 2px;
    border: 2px solid #eee;
    border-radius: 1rem;

    text-align: left;
}

.active {
    transform: translate(0, 0);
    transition: 200ms;
}

.deactive {
    transform: translate(1.4rem, 0);
}

.a-tag-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.a-tag-btn:visited {
    color: black;
}

.button-tag-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
}

.content {
    padding: 1rem;
    margin-bottom: 32px;
}

.content img {
    max-width: 100%;
}

.comment-title {
    border-bottom: 2px solid #eee;
    padding: 1rem;
    padding-top: 0;
}

.comment-list {
    display: flex;
    flex-direction: column;

    padding: 0 1rem
}

.comment-card {
    margin-top: 1rem;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;
}

.comment-header{
    display: flex;
}

.comment-writer{
    flex-grow: 1;
}

.comment-date{
    margin-right: 8px;
}

.comment-content {
    padding: 1rem
}

.comment-delete-btn{
    border: none;
    background-color: white;
    color: red;
    font-weight: bold;
}


/* 댓글 입력창을 감싸는 박스 */
.comment-input-wrapper {
    padding: 1rem 2rem;
}

/* 댓글 입력창 헤더 */
.comment-input-header {
    display: flex;
    width: 100%;
    padding: 4px;
}

/* 댓글 입력창 헤더 > 텍스트 박스 */
.comment-input-title {
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
}

/* 댓글 입력창 헤더 > 이모티콘 버튼 */
.nav-tap {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1rem;

    padding: 8px;
    padding-bottom: 4px;

    border-bottom: 1px solid #ccc;
}

.nav-tap-active {
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
}

/* 댓글 입력폼 */
.comment-form {
    display: flex;
    flex-wrap: wrap;
}

/* 댓글 입력창 */
.comment-input {
    height: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
    font-size: 16px;
}

.comment-input-alert {
    flex-grow: 1;
    min-width: 50%;
    color: red;
}

.comment-submit-btn,
.write-submit-btn,
.edit-submit-btn {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 4px 8px;
    width: 48px;
    border-radius: 8px;
    margin: 4px;
}

/* 이모티콘 입력창 */
.emoticon-input {
    display: none;
}


/* 로그아웃 알림 */
.alert-info {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 10px;

    margin: 1rem 0;
}

/* 로그아웃 알림 > 로그인 링크 버튼 */
.alert-info button {
    font-size: 1rem;
    color: blue;
    text-decoration: underline;
    background-color: inherit;
    border: none;
}


.emoticon-form {
    display: flex;
    flex-direction: column;
}

.preview-list {
    display: flex;
    flex-wrap: wrap;
}

.emoticon {
    width: 100px;
    height: 100px;
    margin: 0px 2px;
}

.emoticon:hover {
    border: 2px solid #0D6EFD
}

.emoticon-list {
    padding: 10px;
}

.emoticon-header {
    background-color: black;
    display: flex;
    padding: 10px;

    color: white;
}

.emoticon-header i {
    color: white;
}

.emoticon-title {
    flex-grow: 1;
    font-weight: bold;
}

.emoticon-main {
    background-color: #eee;
    padding: 10px;
    border: 2px solid #ccc;
    border-top: none;
}

.emoticon-content {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: flex-start;
    overflow-y: scroll;
}

.emoticon-content::-webkit-scrollbar {
    display: none;
}

.editor-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem;
}

.editor {
    width: 100%;
    height: fit-content;
}

.select-flex-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ql-code-block-container{
    background-color: black;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    color: #eeeeee;
}

.write-select {
    width: 49%;
    font-size: 24px;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
}

.write-title-input {
    width: 100%;
    font-size: 24px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}

.option-list {
    width: var(--w-1);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.option-card {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 24px;
    margin-bottom: 8px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
}

/* --- */

.navbar {
    position: fixed;
    width: 5rem;
    height: 100vw;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    top: 0;
    width: 5rem;
    height: 100vh;
    border: none;
    z-index: 10;
}

.navbar:hover {
    width: 16rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    text-align: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.4rem;
}

.nav-link .fa-solid {
    font-size: 1.4rem;
}

.nav-link .fa-regular {
    font-size: 2rem;
}

.nav-link .fa-brands {
    font-size: 2rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover .link-text {
    display: inline;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    letter-spacing: 0.3ch;
    font-size: 1.5rem;
    width: 100%;
}

.logo i {
    margin-left: auto;
    font-size: 1.8rem !important;
    transform: rotate(0deg);
    transition: 200ms;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 2rem;
    width: 100%;
    margin: auto;
    background-color: white;
    transition: 200ms;
}

/* card w4 : h5 */
.card {
    width: 12rem;
    height: 15rem;

    overflow: hidden;

    padding: 0;
    margin: 0.5rem;

    background-color: white;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.12),
        0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transform: translate(0, 0);
}

.card:hover {
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translate(0, -0.5rem);
}


.card-content {
    padding: 0.5rem;
}

.write-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;

    width: 3rem;
    height: 3rem;

    background: var(--bg-primary);
    border-radius: 50%;
    border: none;

    color: var(--text-primary);
    font-size: 1.5rem;

    transition: 200ms ease;
}

.write-btn:hover {
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.write-btn i {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    font-size: 1.4rem;
}

.write-btn p {
    position: absolute;
    top: -1.5rem;
    right: 0;

    background-color: #aaa;
    padding: 0.2rem 1.5rem;
    border: none;
    border-radius: 1rem;

    font-weight: bold;
    text-align: center;
    font-size: 1rem;

    transition: 200ms;
    opacity: 0;
    transform: translate(0, 0);
}

.write-btn:hover p {
    opacity: 1;
    transform: translate(0, -0.5rem);
}

.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.login-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 30rem;
    height: 24rem;
    border-radius: 1rem;
    padding: 2rem;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.login-form {
    margin: 1rem 0;
}

.login-form input {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.login-form input:active {
    border: 2px solid var(--bg-secondary);
}

.login-form button {
    width: 100%;
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;

    color: var(--text-secondary);
    font-size: 1.5rem;
    text-align: center;
}

.login-form button:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.social-login-btn {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 0.5rem;
    border: 2px solid #eee;
    border-radius: 2rem;
    background-color: white;

    margin-bottom: 1rem;

    font-size: 1rem;
    font-weight: bold;
}

.social-login-btn img {
    width: 1rem;
    margin-right: 1rem;
}

.black-line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.black-line div {
    width: 40%;
    height: 0.1rem;
    background-color: black;
}

.black-line p {
    width: 10%;
    color: black;
    text-align: center;
}

@media screen and (min-width : 48rem) {


    .main-wrapper {
        width: var(--w-2);
    }
}

@media screen and (min-width : 61rem) {

    .main-wrapper {
        width: var(--w-3);
    }
}

@media screen and (min-width : 74rem) {

    .main-wrapper {
        width: var(--w-4);
    }
}

@media screen and (min-width : 87rem) {

    .main-wrapper {
        width: var(--w-5);
    }
}